<div class="container">
  <h3 class="text-center">My Info</h3>
  
  <div ng-if="!myInfoCtrl.info">Not Signed Up Yet. <br /> <br />
    <a ui-sref="public.signup">
      <button type="button" class="btn btn-success">Sign up Now!</button>
    </a>
  </div>

  <div ng-if="myInfoCtrl.info" class="table-responsive">
    <table class="table">
      <tr>
        <td>First name:</td> 
        <td>{{myInfoCtrl.info.firstName}}</td> 
      </tr>

      <tr>
        <td>Last name:</td>
        <td>{{myInfoCtrl.info.lastName}}</td>
      </tr>

      <tr>
        <td>Email address:</td>
        <td>{{myInfoCtrl.info.email}}</td>
      </tr>

      <tr>
        <td>Phone number: {{myInfoCtrl.info.phone}} </td>
      </tr>

      <tr>
        <td>Favorite Dish: </td>
        <td>
          <menu-item menu-item="myInfoCtrl.menuItem"></menu-item>
        </td>
      </tr>
    </table>
  </div>
</div>
